@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
/* Font Open Sans */

@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i');
/* Font Arvo */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0% 12px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: -1px;
    margin: auto;
    text-align: center;
    padding: 30px;
}



.logo, main{
    margin: 0 auto 0 auto;
    max-width: 500px;
    text-align: center;
    border-radius: 5px;
}

h1{
    font-size: 2.5vw;
}

/*NAV*/
.nav {
  height: 100%;
  position: fixed;
  left: -2em;
  top: 0;
  z-index: 1000;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.icon {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 990;
  height: 100%;
  background: #83827e;
}
.icon li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  list-style-type: none;
}
.icon a {
  display: block;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-size: 1.6em;
  color: #ffffff;
  text-shadow: 0 1px 0 black;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}
.icon a:hover {
  color: white;
  -webkit-transform: translateX(10px) scale(1.2);
          transform: translateX(10px) scale(1.2);
}

.nav:hover .text {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.text {
  position: absolute;
  left: 63px;
  top: 0;
  z-index: 980;
  height: 100%;
  background: #83827e;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: -webkit-transform .24s linear;
  transition: -webkit-transform .24s linear;
  transition: transform .24s linear;
  transition: transform .24s linear, -webkit-transform .24s linear;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: perspective(1000px) rotateY(90deg);
          transform: perspective(1000px) rotateY(90deg);
}
.text li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.text a {
  display: block;
  width: 200px;
  height: 64px;
  line-height: 64px;
  text-indent: 1em;
  font-size: 1.4em;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 1px 0 black;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}
.text a:hover {
  color: white;
  -webkit-transform: translateX(-14px);
          transform: translateX(-14px);
}
/* END OF NAV*/

#mail {
    text-decoration: none;
    color: lightgray;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
footer {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 30px;
    line-height: 1.25em;
    font-size: .8em;
    text-align: center;
    margin: 50px -20px 0px -12px;
}

footer p {
    line-height: .4em;
}

.login {
  padding: 15px;
  width: 50px;
}

.register {
  padding: 15px;
  width: 100px;
}

.header {
  margin: 70px;
}

.header-register {
  margin: 50px;
}

.or {
  font-size: 11px;
  margin-top: 50px;
  margin-bottom: 50px;
}
