@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
/* Font Open Sans */

@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i');
/* Font Arvo */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    padding: 0% 12px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    margin-bottom: -1px;
    margin: auto;
    text-align: center;
    padding: 30px;
}

.logo, main{
    margin: 0 auto 0 auto;
    max-width: 500px;
    text-align: center;
}

.logo img {
  border-radius: 10%;
  box-shadow: 5px 5px #888888;
  margin-bottom: 30px;
}

h1{
    font-size: 2.5vw;
}

/*NAV*/
#nav {
  margin-top: 40px;
  padding: 24px;
  text-align: center;
  font-family: Raleway;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  background: rgb(238, 159, 21);
  text-decoration: none;
  margin-bottom: 30px;
}

#nav ul li {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  margin: auto;
}

.link {
  transition: 0.3s ease;
  background: rgb(238, 159, 21);
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid rgb(238, 159, 21);
  border-bottom: 4px solid rgb(238, 159, 21);
  padding: 20px 0;
  margin: 0 20px;
}
.link:hover {
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
  text-decoration: none;
}
/* End of NAV */

#mail {
    text-decoration: none;
    color: lightgray;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
footer {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 30px;
    line-height: 1.25em;
    font-size: .8em;
    text-align: center;
    margin: 50px -20px 0px -12px;
}

footer p {
    line-height: .4em;
}

.login {
  padding: 15px;
  width: 50px;
}

.register {
  padding: 15px;
  width: 100px;
}

.header {
  margin: 70px;
}

.header-register {
  margin: 50px;
}

.or {
  font-size: 11px;
  margin-top: 50px;
  margin-bottom: 50px;
}
