@import url('https://fonts.googleapis.com/css?family=Arvo:400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0% 10px;
    margin-top: 20px;
}

main, header {
    max-width: 1213px;
    margin: auto;
}

#menu{
  display: none;
}

#about {
    width: 500px;
    height: 300px;
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: #001430;
    border-radius: 10px;
}

#about img {
    width: 200px;
    padding-top: 10px;
    padding-left: 10px;
    display: inline;
    border-radius: 10px;
}

#about h2 {
    display: inline;
    color: white;
    padding-left: 20px;
    padding-top: 50px;
    position: absolute;
}

#about p {
    color: white;
    padding: 20px;
}

nav label {
    width: 100%;
    padding: 15px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    color: white;
    background-color: #001430;
    width: 100%;
    text-align: center;
    margin: 5px;
}

#menu a:link, #menu a:visited {
    padding: 15px;
    display: inline-block;
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    color: #001430;
    width: 100%;
    text-align: center;
}

#menu a:hover{
    background: #001430;
    color: #ffffff;
}

#menu nav a:active {
    background: #001430;
    color: #cccccc;
}

#toggle {
    display: none;
}

#toggle:checked ~ #menu{
     display: block; 
}

#headersection {
    color: white;
    position: absolute;
    top: 20%;
    left: 50px;
    width: 250px;
    text-shadow: 2px 2px 2px black;
}

/* Hamburger */
@media (min-width: 800px){
     nav label, #toggle{
        display: none; 
     }
     #toggle:not(:checked) ~ #menu{
       display: block; 
    }
    
    #menu li{
        width: 30%;
        margin: auto;
    }
}

main nav div {
    font-size: .9em;
    line-height: 1em;
    padding: 10px 10px 15px 10px;
    color: white;
}

main nav li {
    background: #001430;
    margin: 1px 0px;
    display: inline-block;
    border-radius: 10px;
}

main nav ul {
    text-align: center;
}

.onefourth {
    width: 25%;
}

main nav a:link, main nav a:visited {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}

main nav a:hover img {
    opacity: .5;
}

main nav a img {
    height: 290px; 
    width: 290px;
    border-radius: 10px;
}

main nav a:hover div {
    color: #cccccc;
}

main nav a:active div {
    text-decoration: underline;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-family: 'Arvo', serif;
    margin-bottom: .5em;
    margin-top: 1em;
    text-transform: capitalize;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

p {
    font-size: 1em;
    margin: 10px 0px;
    line-height: 1.3em;
}

q:before, q:after {
    content: '"';
}

strong {
    font-weight: bold;
}

.button:link {
    border: 1px solid #001430;
    color: #001430;
    padding: 10px;
    display: inline-block;
    font-size: .8em;
    text-decoration: none;
    margin-top: 10px;
}

.button:visited {
    color: #666666;
    border: 1px solid #666666;
}

.button:hover {
    color: #ffffff;
    border: 4px solid #001430;
    background: #001430;
    transition-duration: .5s;
}

.button:active {
    color: #ffffff;
    text-decoration: underline;
    background: #001430;
}

footer {
    background: #001430;
    color: white;
    padding: 30px;
    line-height: 1.25em;
    font-size: .8em;
    margin-top: 50px;
    text-align: center;
}

footer p {
    line-height: .4em;
}

.social li {
    display: inline-block;
}

footer a:link, footer a:visited {
    color: #999;
}

footer a:hover{
    color: #bbb;
}

footer a:active{
    color: #fff;
}
